@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Signika+Negative:wght@300&display=swap");

:root {
  --heading: "Barlow Condensed", sans-serif;
  --text: "Signika Negative", sans-serif;
  --body: #fff7f2;
  --hcolor: #ee5a24;
}

* {
  text-decoration: none;
}

body {
  background-color: var(--body);
}

span {
  color: var(--hcolor);
  font-weight: bolder;
}

h1 {
  font-family: var(--heading);
  font-size: 3.2em;
  color: var(--hcolor);
}

h2 {
  font-family: var(--heading);
  color: var(--hcolor);
  font-size: 2rem;
}

p,
a {
  font-family: var(--text);
}

a {
  font-size: 1.1rem;
}

#container {
  display: flex;
}

#links {
  margin-top: 2rem;
  width: 15%;
  border-right: 1px solid gray;
}

#content {
  width: 85%;
  margin-left: 1rem;
  text-align: center;
}

li {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transition-delay: 200ms;
}

li a {
  margin-bottom: 0.5rem;
  display: inline-block;
  color: black;
}

li:hover {
  transform: scale(1.05);
  color: #a46b63;
}

img {
  border-radius: 10px;
  box-shadow: 8px 8px 10px lightgray;
}
